In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
%matplotlib inline
print('Done!')

Done!

In [39]:
from sklearn.neighbors import KNeighborsRegressor
import scipy.stats
from sklearn.preprocessing import StandardScaler
from pycaret.regression import setup, compare_models
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression




from catboost import CatBoostRegressor
from sklearn.linear_model import BayesianRidge, HuberRegressor, Ridge, OrthogonalMatchingPursuit
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

import optuna

In [6]:
spaceship_train_data = pd.read_csv('C:\\Users\\Auditor\\Desktop\\Victor\\New folder\\Data Science\\Projects\\Spaceship Titanic\\train.csv')

In [7]:
spaceship_test_data = pd.read_csv('C:\\Users\\Auditor\\Desktop\\Victor\\New folder\\Data Science\\Projects\\Spaceship Titanic\\test.csv')

In [8]:
spaceship_train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [9]:
spaceship_test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [10]:
#target 
target = spaceship_train_data['Transported']
test_ids = spaceship_test_data['PassengerId']

In [11]:
spaceship_train_data1 = spaceship_train_data.drop(['PassengerId','Cabin','Name','Transported'], axis=1)
spaceship_test_data1 = spaceship_test_data.drop(['PassengerId','Cabin','Name'], axis=1)

In [12]:
data1 = pd.concat([spaceship_train_data1, spaceship_test_data1], axis=0).reset_index(drop=True)
data1

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
12966,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
12967,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0
12968,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0
12969,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [13]:
data2 = data1.copy()

In [14]:
data2

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
12966,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
12967,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0
12968,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0
12969,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.base import TransformerMixin
from sklearn.base import BaseEstimator
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

#Changing all null numeric values to mean
class MultipleColumnImputerMean(BaseEstimator, TransformerMixin):
    
    def __init__(self, columns):
        self.columns = columns
    
    def fit(self, X, y=None):
        self.imputer = SimpleImputer(strategy='mean')
        self.imputer.fit(X[self.columns])
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        X_copy[self.columns] = self.imputer.transform(X_copy[self.columns])
        return X_copy

In [16]:
#Changing all null string values to mode

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer

class MultipleColumnImputerMode(BaseEstimator, TransformerMixin):
    
    def __init__(self, columns):
        self.columns = columns
    
    def fit(self, X, y=None):
        self.imputer = SimpleImputer(strategy='most_frequent')
        self.imputer.fit(X[self.columns])
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        X_copy[self.columns] = self.imputer.transform(X_copy[self.columns])
        return X_copy

In [17]:
#gets dummies/ one_hot_encoder
class GetDummies(BaseEstimator, TransformerMixin):
    
    def __init__(self, column_names):
        self.column_names = column_names

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        columns = X[self.column_names]  # Extract the specified columns

        # Apply one-hot encoding to each specified column
        dummies_list = [pd.get_dummies(columns[col], prefix=col) for col in self.column_names]

        # Concatenate one-hot encoded columns with the original DataFrame and delete dummied column
        X_encoded = pd.concat([X] + dummies_list, axis=1).drop(self.column_names, axis=1)

        return X_encoded

In [18]:
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ('MultipleColumnImputerMean', MultipleColumnImputerMean(columns=['Age', 'RoomService','FoodCourt','ShoppingMall','Spa','VRDeck'])),
    ('MultipleColumnImputerMode', MultipleColumnImputerMode(columns=['HomePlanet','CryoSleep','Destination','VIP'])),
    ('getdummies', GetDummies(column_names=['HomePlanet','Destination']))])

In [19]:
data2

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
12966,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
12967,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0
12968,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0
12969,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [20]:
data3 = pipeline.fit_transform(data2)

In [21]:
data3

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,False,39.000000,False,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,1
1,False,24.000000,False,109.0,9.0,25.0,549.0,44.0,1,0,0,0,0,1
2,False,58.000000,True,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,0,1
3,False,33.000000,False,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,0,1
4,False,16.000000,False,303.0,70.0,151.0,565.0,2.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,True,34.000000,False,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1
12966,False,42.000000,False,0.0,847.0,17.0,10.0,144.0,1,0,0,0,0,1
12967,True,28.771969,False,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0
12968,False,28.771969,False,0.0,2680.0,0.0,0.0,523.0,0,1,0,0,0,1
12969,True,43.000000,False,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0

In [22]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CryoSleep                  12970 non-null  object
 1   Age                        12970 non-null  float64
 2   VIP                        12970 non-null  object
 3   RoomService                12970 non-null  float64
 4   FoodCourt                  12970 non-null  float64
 5   ShoppingMall               12970 non-null  float64
 6   Spa                        12970 non-null  float64
 7   VRDeck                     12970 non-null  float64
 8   HomePlanet_Earth           12970 non-null  uint8
 9   HomePlanet_Europa          12970 non-null  uint8
 10  HomePlanet_Mars            12970 non-null  uint8
 11  Destination_55 Cancri e    12970 non-null  uint8
 12  Destination_PSO J318.5-22  12970 non-null  uint8
 13  Destination_TRAPPIST-1e    12970 non-null  uint8
dtypes: float64(6), object(2), uint8(6)
memory usage: 886.8+ KB

In [23]:
#Scaling¶

#Scaling¶

scaler = StandardScaler()
scaler.fit(data3)

data4 = pd.DataFrame(scaler.transform(data3), index=data3.index, columns=data3.columns)

In [24]:
data4

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,-0.738967,7.184543e-01,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,-1.108906,1.771949,-0.510820,-0.505656,-0.316951,0.646731
1,-0.738967,-3.352005e-01,-0.146633,-0.177696,-0.282761,-0.256896,0.215177,-0.225030,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
2,-0.738967,2.053084e+00,6.819762,-0.280664,1.994205,-0.299739,5.731407,-0.220749,-1.108906,1.771949,-0.510820,-0.505656,-0.316951,0.646731
3,-0.738967,2.969924e-01,-0.146633,-0.347750,0.530487,0.336049,2.702222,-0.097440,-1.108906,1.771949,-0.510820,-0.505656,-0.316951,0.646731
4,-0.738967,-8.971498e-01,-0.146633,0.124970,-0.243822,-0.040968,0.229491,-0.260996,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,1.353240,3.672360e-01,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
12966,-0.738967,9.291853e-01,-0.146633,-0.347750,0.252170,-0.270606,-0.267024,-0.139399,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
12967,1.353240,-2.495556e-16,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,-1.108906,-0.564350,1.957636,1.977630,-0.316951,-1.546237
12968,-0.738967,-2.495556e-16,-0.146633,-0.347750,1.422251,-0.299739,-0.275970,0.185144,-1.108906,1.771949,-0.510820,-0.505656,-0.316951,0.646731
12969,1.353240,9.994289e-01,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,0.901790,-0.564350,-0.510820,-0.505656,3.155058,-1.546237

In [25]:
#Split Data¶

train_final = data4.loc[:spaceship_train_data.index.max(), :].copy()
test_final = data4.loc[spaceship_train_data.index.max() + 1:, :].reset_index(drop=True).copy()

In [26]:
train_final

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,-0.738967,0.718454,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,-1.108906,1.771949,-0.51082,-0.505656,-0.316951,0.646731
1,-0.738967,-0.335201,-0.146633,-0.177696,-0.282761,-0.256896,0.215177,-0.225030,0.901790,-0.564350,-0.51082,-0.505656,-0.316951,0.646731
2,-0.738967,2.053084,6.819762,-0.280664,1.994205,-0.299739,5.731407,-0.220749,-1.108906,1.771949,-0.51082,-0.505656,-0.316951,0.646731
3,-0.738967,0.296992,-0.146633,-0.347750,0.530487,0.336049,2.702222,-0.097440,-1.108906,1.771949,-0.51082,-0.505656,-0.316951,0.646731
4,-0.738967,-0.897150,-0.146633,0.124970,-0.243822,-0.040968,0.229491,-0.260996,0.901790,-0.564350,-0.51082,-0.505656,-0.316951,0.646731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,-0.738967,0.858942,6.819762,-0.347750,4.064349,-0.299739,1.193892,-0.199341,-1.108906,1.771949,-0.51082,1.977630,-0.316951,-1.546237
8689,1.353240,-0.756662,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,0.901790,-0.564350,-0.51082,-0.505656,3.155058,-1.546237
8690,-0.738967,-0.194713,-0.146633,-0.347750,-0.288506,2.908336,-0.275075,-0.262708,0.901790,-0.564350,-0.51082,-0.505656,-0.316951,0.646731
8691,-0.738967,0.226749,-0.146633,-0.347750,0.381115,-0.299739,0.039831,2.507469,-1.108906,1.771949,-0.51082,1.977630,-0.316951,-1.546237
8692,-0.738967,1.069673,-0.146633,-0.151173,2.704042,-0.299739,-0.275970,-0.252432,-1.108906,1.771949,-0.51082,-0.505656,-0.316951,0.646731

In [27]:
test_final

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,1.353240,-1.244695e-01,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
1,-0.738967,-6.864188e-01,-0.146633,-0.347750,-0.282761,-0.299739,2.249544,-0.262708,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
2,1.353240,1.565051e-01,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,-1.108906,1.771949,-0.510820,1.977630,-0.316951,-1.546237
3,-0.738967,6.482107e-01,-0.146633,-0.347750,3.957746,-0.299739,-0.114043,0.238236,-1.108906,1.771949,-0.510820,-0.505656,-0.316951,0.646731
4,-0.738967,-6.161751e-01,-0.146633,-0.332148,-0.288506,0.788470,-0.275970,-0.262708,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,1.353240,3.672360e-01,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
4273,-0.738967,9.291853e-01,-0.146633,-0.347750,0.252170,-0.270606,-0.267024,-0.139399,0.901790,-0.564350,-0.510820,-0.505656,-0.316951,0.646731
4274,1.353240,-2.495556e-16,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,-1.108906,-0.564350,1.957636,1.977630,-0.316951,-1.546237
4275,-0.738967,-2.495556e-16,-0.146633,-0.347750,1.422251,-0.299739,-0.275970,0.185144,-1.108906,1.771949,-0.510820,-0.505656,-0.316951,0.646731
4276,1.353240,9.994289e-01,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,0.901790,-0.564350,-0.510820,-0.505656,3.155058,-1.546237

In [29]:
from sklearn.preprocessing import StandardScaler

X = train_final
y = spaceship_train_data['Transported']

#scaler = StandardScaler()
#X_data = scaler.fit_transform(X)
#y_data = y.to_numpy()

In [30]:
X

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,-0.738967,0.718454,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,-1.108906,1.771949,-0.51082,-0.505656,-0.316951,0.646731
1,-0.738967,-0.335201,-0.146633,-0.177696,-0.282761,-0.256896,0.215177,-0.225030,0.901790,-0.564350,-0.51082,-0.505656,-0.316951,0.646731
2,-0.738967,2.053084,6.819762,-0.280664,1.994205,-0.299739,5.731407,-0.220749,-1.108906,1.771949,-0.51082,-0.505656,-0.316951,0.646731
3,-0.738967,0.296992,-0.146633,-0.347750,0.530487,0.336049,2.702222,-0.097440,-1.108906,1.771949,-0.51082,-0.505656,-0.316951,0.646731
4,-0.738967,-0.897150,-0.146633,0.124970,-0.243822,-0.040968,0.229491,-0.260996,0.901790,-0.564350,-0.51082,-0.505656,-0.316951,0.646731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,-0.738967,0.858942,6.819762,-0.347750,4.064349,-0.299739,1.193892,-0.199341,-1.108906,1.771949,-0.51082,1.977630,-0.316951,-1.546237
8689,1.353240,-0.756662,-0.146633,-0.347750,-0.288506,-0.299739,-0.275970,-0.262708,0.901790,-0.564350,-0.51082,-0.505656,3.155058,-1.546237
8690,-0.738967,-0.194713,-0.146633,-0.347750,-0.288506,2.908336,-0.275075,-0.262708,0.901790,-0.564350,-0.51082,-0.505656,-0.316951,0.646731
8691,-0.738967,0.226749,-0.146633,-0.347750,0.381115,-0.299739,0.039831,2.507469,-1.108906,1.771949,-0.51082,1.977630,-0.316951,-1.546237
8692,-0.738967,1.069673,-0.146633,-0.151173,2.704042,-0.299739,-0.275970,-0.252432,-1.108906,1.771949,-0.51082,-0.505656,-0.316951,0.646731

In [31]:
y

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [44]:
# CatBoost
#catboost_params = {
#    'iterations': 6000,
#    'learning_rate': 0.005,
#    'depth': 4,
#    'l2_leaf_reg': 1,
#    'eval_metric': 'RMSE',
#    'early_stopping_rounds': 200,
#    'random_seed': 42
#}



# Gradient Boosting Classifier
gb_params = {
    'n_estimators': 100,
    'learning_rate': 0.1,
    'max_depth': 3,
    'random_state': 42
}



# Ada Boost Classifier
ada_params = {
    'n_estimators': 50,
    'learning_rate': 0.1,
    'random_state': 42
}



# Extreme Gradient Boosting
xgboost_params = {
    'n_estimators': 100,
    'learning_rate': 0.1,
    'max_depth': 3,
    'random_state': 42
}



# Logistic Regression
logistic_params = {
    'C': 1.0,
    'random_state': 42
}



# Light Gradient Boosting Machine
lightgbm_params = {
    'num_leaves': 39,
    'max_depth': 2,
    'learning_rate': 0.13705339989856127,
    'n_estimators': 273
}



# Ridge Regression
ridge_params = {
    'alpha': 631.1412445239156
}

SyntaxError: '{' was never closed (4052737203.py, line 2)

In [45]:
models = {
    #"cb_classifier": CatBoostRegressor(**catboost_params),
    "gb_classifier": GradientBoostingClassifier(**gb_params),
    "ada_classifier": AdaBoostClassifier(**ada_params),
    "xgboost": XGBRegressor(**xgboost_params),
    "logistic_regression": LogisticRegression(**logistic_params),
    "lightgbm": LGBMRegressor(**lightgbm_params),
    #"ridge": Ridge(**ridge_params),
    #"omp": OrthogonalMatchingPursuit(),
    #"br": BayesianRidge(**br_params)
}

In [46]:
for name, model in models.items():
    model.fit(train_final, target)
    print(name + " trained.")

gb_classifier trained.
ada_classifier trained.
xgboost trained.
logistic_regression trained.

  File "C:\Users\Auditor\anaconda3.2\Lib\site-packages\joblib\externals\loky\backend\context.py", line 217, in _count_physical_cores
    raise ValueError(

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000911 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1380
[LightGBM] [Info] Number of data points in the train set: 8693, number of used features: 14
[LightGBM] [Info] Start training from score 0.503624
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
lightgbm trained.

In [47]:
results = {}

kf = KFold(n_splits=10)

for name, model in models.items():
    result = (-cross_val_score(model, train_final, target, scoring='neg_mean_squared_error', cv=kf))
    results[name] = result

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001361 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1380
[LightGBM] [Info] Number of data points in the train set: 7823, number of used features: 14
[LightGBM] [Info] Start training from score 0.504027
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002324 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1379
[LightGBM] [Info] Number of data points in the train set: 7823, number of used features: 14
[LightGBM] [Info] Start training from score 0.508884
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001086 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1379
[LightGBM] [Info] Number of data points in the train set: 7823, number of used features: 14
[LightGBM] [Info] Start training from score 0.512080
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001590 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1379
[LightGBM] [Info] Number of data points in the train set: 7824, number of used features: 14
[LightGBM] [Info] Start training from score 0.503962
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002222 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1380
[LightGBM] [Info] Number of data points in the train set: 7824, number of used features: 14
[LightGBM] [Info] Start training from score 0.499744
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002403 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1380
[LightGBM] [Info] Number of data points in the train set: 7824, number of used features: 14
[LightGBM] [Info] Start training from score 0.496677
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001140 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1380
[LightGBM] [Info] Number of data points in the train set: 7824, number of used features: 14
[LightGBM] [Info] Start training from score 0.496421

[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000791 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1379
[LightGBM] [Info] Number of data points in the train set: 7824, number of used features: 14
[LightGBM] [Info] Start training from score 0.501022
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001562 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1380
[LightGBM] [Info] Number of data points in the train set: 7824, number of used features: 14
[LightGBM] [Info] Start training from score 0.505752
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001371 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1380
[LightGBM] [Info] Number of data points in the train set: 7824, number of used features: 14
[LightGBM] [Info] Start training from score 0.507669
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

In [48]:
results

{'gb_classifier': array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]),
 'ada_classifier': array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]),
 'xgboost': array([0.13634965, 0.14923857, 0.15094046, 0.14099875, 0.15194716,
        0.14689682, 0.14784473, 0.14194079, 0.12703894, 0.13968882]),
 'logistic_regression': array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]),
 'lightgbm': array([0.13752168, 0.14979022, 0.15210978, 0.14077753, 0.15476394,
        0.1463902 , 0.14838636, 0.1427953 , 0.12788966, 0.14110627])}

In [49]:
for name, result in results.items():
    print("----------\n" + name)
    print(np.mean(result))
    print(np.std(result))

----------
gb_classifier
nan
nan
----------
ada_classifier
nan
nan
----------
xgboost
0.1432884693145752
0.007313824402615689
----------
logistic_regression
nan
nan
----------
lightgbm
0.1441530929175151
0.007493978765120467

In [67]:
final_predictions = (
    0.2 * (models['gb_classifier'].predict(test_final)) +
    0.2 * (models['ada_classifier'].predict(test_final)) +
    0.2 * (models['xgboost'].predict(test_final)) +
    0.1 * (models['logistic_regression'].predict(test_final)) +
    0.2 * (models['lightgbm'].predict(test_final))
)

In [68]:
final_predictions

array([0.75803624, 0.00635195, 0.90589266, ..., 0.86656331, 0.79730393,
       0.76374192])

In [69]:
submission = pd.concat([test_ids, pd.Series(final_predictions, name='Transported')], axis=1)
submission

     PassengerId  Transported
0        0013_01     0.758036
1        0018_01     0.006352
2        0019_01     0.905893
3        0021_01     0.887554
4        0023_01     0.536227
...          ...          ...
4272     9266_02     0.756938
4273     9269_01     0.184515
4274     9271_01     0.866563
4275     9273_01     0.797304
4276     9277_01     0.763742

[4277 rows x 2 columns]

In [70]:
submission['Transported'] = submission['Transported'].round(0)

In [71]:
submission

     PassengerId  Transported
0        0013_01          1.0
1        0018_01          0.0
2        0019_01          1.0
3        0021_01          1.0
4        0023_01          1.0
...          ...          ...
4272     9266_02          1.0
4273     9269_01          0.0
4274     9271_01          1.0
4275     9273_01          1.0
4276     9277_01          1.0

[4277 rows x 2 columns]

In [72]:

# Assuming df is your DataFrame
# Convert values in the "Transported" column to boolean
submission['Transported'] = submission['Transported'].astype(bool)

# Display the modified DataFrame
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]

In [73]:
submission.to_csv('C:\\Users\\Auditor\\Desktop\\Victor\\New folder\\Data Science\\Projects\\Spaceship Titanic\\Final_submission.csv'
, index=False, header=True)